* {
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
}
*::before {
  box-sizing: border-box;
  padding: 0;
  outline: none;
}

p {
  margin: 0;
  padding: 0;
}

nav {
  display: block;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  top: -30vw;
  bottom: 0;
  transition: all 0.5s;
  z-index: -1;
  opacity: 0;
}
nav .inner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px;
}
nav .inner ul {
  text-align: center;
  list-style: none;
  margin: 0;
  margin-top: 50px;
  padding: 0;
}
nav .inner ul li {
  margin: 0;
  margin-top: 7vh;
}
nav .inner ul li a {
  border-bottom: 1px solid #333;
  width: 35vw;
  text-decoration: none;
  color: #333;
  display: block;
  font-size: 20px;
  padding: 10px;
  padding-bottom: 10px;
  transition-duration: 0.2s;
}
nav .inner ul li a:hover {
  background-color: rgb(159, 159, 159);
}

#mask {
  display: none;
  transition: all 0.5s;
}

.open nav {
  box-shadow: 2px 3px 4px rgb(138, 137, 137);
  opacity: 1;
  top: 0;
  z-index: 3;
}
.open #mask {
  display: block;
  background-color: rgb(229, 229, 229);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
}
.open .toggle-btn span:nth-child(1) {
  transform: translateY(10px) rotate(-315deg);
}
.open .toggle-btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle-btn span:nth-child(3) {
  transform: translateY(-10px) rotate(315deg);
}

.toggle-btn {
  opacity: 0;
  -webkit-animation: slideInX 2s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
          animation: slideInX 2s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  overflow: hidden;
  display: block;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  z-index: 3;
  cursor: pointer;
}
@-webkit-keyframes slideInX {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideInX {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.toggle-btn span {
  position: absolute;
  display: block;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: rgb(44, 38, 38);
  transition: all 0.5s;
  border-radius: 4px;
}
.toggle-btn span:nth-child(1) {
  top: 4px;
}
.toggle-btn span:nth-child(2) {
  top: 14px;
}
.toggle-btn span:nth-child(3) {
  bottom: 4px;
}

.home-main {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-y: hidden;
}
.home-main-title {
  white-space: nowrap;
  color: rgb(0, 0, 0);
  font-size: 7vh;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}
.home-main .home-sns-icon-area {
  position: absolute;
  bottom: 0;
  left: 50%;
  bottom: 30%;
  transform: translateX(-50%);
  display: flex;
}
.home-main .home-sns-icon-area .sns-icon {
  list-style: none;
}
.home-main .home-sns-icon-area .sns-icon:not(:nth-child(4)) {
  margin-right: 7vw;
}
.home-main .home-sns-icon-area img {
  height: 5vh;
  width: 5vh;
}

.main {
  width: 100vw;
  height: 100vh;
}
.main .title {
  font-size: 4vh;
  position: absolute;
  left: 50%;
  top: 14%;
  transform: translateX(-50%);
}
.main .contents {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.main .contents .likes-list {
  width: 50%;
  position: absolute;
  top: 30vh;
}
.main .contents .likes-list li {
  padding-bottom: 5vh;
}
.main .contents .likes-list li a {
  color: rgb(44, 38, 38);
}
.main .contents .block {
  display: block;
  position: absolute;
  top: 25vh;
  left: 50%;
  width: 75%;
  max-width: 800px;
  transform: translateX(-50%);
}
.main .contents .block-txt {
  margin-top: 30px;
  position: relative;
}
.main .contents .block-txt .block-date {
  color: rgb(122, 122, 122);
}
.main .contents .block-txt p.tit {
  color: rgb(40, 39, 39);
  margin-top: 9px;
}
.main .contents span.date::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 9px;
  margin-left: 10px;
  width: 100vw;
  height: 1px;
  background-color: rgb(159, 159, 159);
}

.works-main .works-title {
  font-size: 4vh;
  position: absolute;
  left: 50%;
  top: 14%;
  transform: translateX(-50%);
}
.works-main .works-contents {
  overflow: hidden;
  display: block;
  position: absolute;
  top: 22vh;
  left: 50%;
  width: 85%;
  max-width: 740px;
  transform: translateX(-50%);
}
.works-main .work-block {
  margin-top: 45px;
  padding: 30px;
  position: relative;
}
.works-main .work-block a {
  color: black;
}
.works-main .work-block .text-area {
  margin-top: 180px;
}
.works-main .work-block .text-area .title {
  white-space: nowrap;
  color: rgb(78, 90, 149);
  position: absolute;
  top: 160px;
}
.works-main .works-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  width: 150px;
  height: 150px;
}/*# sourceMappingURL=App.css.map */