* {
  margin: 0;
  padding: 0;
}

.home-main {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgb(253, 253, 222), rgb(191, 251, 191));
  position: relative;

  &-title { 
    color: rgb(80, 79, 79);
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
  }

  ul {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin-bottom: 300px;

    li {
      list-style: none;
      &:not(:nth-child(4)) {
        margin-right: 30px;
      }
    }


  }

  
}