* {
  margin: 0;
  padding: 0;
}

.home-main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgb(253, 253, 222), rgb(191, 251, 191));

  &-title {
    font-size: 9vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}